﻿<%@ Master Language="C#" MasterPageFile="~/MasterPage_Main.master" AutoEventWireup="true" CodeFile="MasterPage_Enroll.master.cs" Inherits="MasterPage_Enroll" %>

<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder4" Runat="Server">
    ทะเบียนทรัพย์สิน
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">

      <ul class="acc-menu">
		    <li class="nav-separator" data-localize="nav_overview"  >ทะเบียนทรัพย์สิน</li>
		   
		    <li><a href="ENROLL_LAND_ListView.aspx"><span class="icon"><i class="fa fa-road"  ></i></span><span class="text" data-localize="nav_notes">ที่ดิน</span></a></li>
		    <li><a href="ENROLL_BUILD_ListView.aspx"><span class="icon"><i class="fa fa-road"  ></i></span><span class="text" data-localize="nav_notes">พื้นที่ก่อสร้าง/พัฒนา</span></a></li>
		    <li><a href="ENROLL_HOME_ListView.aspx"><span class="icon"><i class="fa fa-road"  ></i></span><span class="text" data-localize="nav_notes">บ้านพักอาศัย</span></a></li>
		    <li><a href="ENROLL_BUS_ListView.aspx"><span class="icon"><i class="fa fa-road"  ></i></span><span class="text" data-localize="nav_notes">พาณิชยกรรม</span></a></li>
		    <li><a href="ENROLL_FARM_ListView.aspx"><span class="icon"><i class="fa fa-road"  ></i></span><span class="text" data-localize="nav_notes">เกษตรกรรม</span></a></li>
		    <li><a href="ENROLL_SIGN_ListView.aspx"><span class="icon"><i class="fa fa-road"  ></i></span><span class="text" data-localize="nav_notes">ป้าย</span></a></li>
 
	    </ul>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder3" Runat="Server">
    <!--
     <div class="alert alert-inverse">
			<p>คำอธิบายหน้า</p>
		</div>-->

     <div class="row">
  <div class="col-md-12">
    <div class="panel panel-default alt with-footer">
      <div class="panel-heading"><asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>
      </div>
        
      <div class="panel-body" style="padding-top:0px;font-size: 17.5px;">

            <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
        </div>
            </div>

    </div>
  
  
  
</div>
</asp:Content>
